@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<DanhSachThi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<ol class="breadcrumb">

    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
    <li class="breadcrumb-item"><a asp-controller="DanhSachThi" asp-action="Index">Quản lý danh sách thi</a></li>

</ol>
<h1 style="text-align: center;">QUẢN LÝ DANH SÁCH THI</h1>
<hr />
<br />
<a asp-action="Create" class="btn btn-success mb-2">Thêm</a>
<table class="table table alert-light">
    <thead class="table-dark">
        <tr style="text-align: center;">
            <th>
                MSSV
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Tên kỳ kiểm tra
            </th> 
            <th>
                Số câu đúng
            </th> 
            <th>
               Điềm 
            </th>
            <th>
                Trạng thái
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody style="text-align: center;">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan.MSSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KyKiemTra.TenKyKiemTra)
                </td>
                <td>
                    @{
                        int socaudung = item.KyKiemTra.De.Any() ? item.KyKiemTra.De.First().CauHoi_DeThi.First().CauHoi_BaiLam.FirstOrDefault(x => x.BaiLam.MSSV == item.TaiKhoan.MSSV)?.BaiLam.SoCauDung ?? 0 : 0;
                    }
                        @Html.DisplayFor(modelItem => socaudung)
                </td>
                <td>
                    @{
                        float diem = item.KyKiemTra.De.Any() ? item.KyKiemTra.De.First().CauHoi_DeThi.First().CauHoi_BaiLam.FirstOrDefault(x => x.BaiLam.MSSV == item.TaiKhoan.MSSV)?.BaiLam.Diem ?? 0 : 0;
                    }
                    @Html.DisplayFor(modelItem => diem)
                </td>
                <td>
                    @if (@item.TrangThai == false)
                    {
                        <span class="badge bg-warning">Chưa làm</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Đã nộp</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DanhSachThiId" class="action-icon"> <i class="mdi mdi-eye" style="color:#19b6ff;font-size:25px;"></i>  </a>
                    <a asp-action="Edit" asp-route-id="@item.DanhSachThiId" class="action-icon"> <i class="mdi mdi-square-edit-outline" style="color:#ffd83b;font-size:25px;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.DanhSachThiId" class="action-icon"> <i class="mdi mdi-delete" style="color:#e75555;font-size:25px;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Pagination with icons -->
<div class="row">

    <div class="row ">

        <ul class="pagination justify-content-end ">
            @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}), new PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[]{ "page-link"},
            LiElementClasses=new[] { "page-item" },
            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
            LinkToNextPageFormat = "Sau",
            LinkToPreviousPageFormat = "Trước",
            MaximumPageNumbersToDisplay = 3,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </ul>

    </div>

</div>
<!-- End Right/End Aligned Pagination -->
