@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<WebBaiGiang_CKC.Models.CauHoi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">

    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
    <li class="breadcrumb-item"><a asp-controller="KhoCauHoi" asp-action="Index">Quản lý kho câu hỏi</a></li>

</ol>
<h1 style="text-align: center;">QUẢN LÝ KHO CÂU HỎI</h1>
<hr />
<br />
<div class="d-flex justify-content-between">
    <a asp-action="Create" class="btn btn-success mb-2">Thêm</a>
    <div class="ml-auto">
        <button type="button" class="btn btn-info mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Import File Excel
        </button>
        <a asp-action="DownloadExcel" class="btn btn-danger mb-2">Down File Excel</a>
    </div>
</div>
@await Html.PartialAsync("_PartialViewCreateList", new WebBaiGiang_CKC.Models.CauHoi())
<table class="table table alert-light">
    <thead class="table-dark">
        <tr style="text-align: center;">

            <td>Chương</td>
            <td>Câu hỏi</td>
            <td>Đáp án A</td>
            <td>Đáp án B</td>
            <td>Đáp án C</td>
            <td>Đáp án D</td>
            <td>Độ khó</td>
            <td></td>
        </tr>
    </thead>
    <tbody style="text-align: center;">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Chuong.TenChuong
                </td>
                <td>
                    @Html.Raw(@item.NoiDung)
                </td>

                <td>
                    @item.DapAnA
                </td>
                <td>
                    @item.DapAnB
                </td>
                <td>
                    @item.DapAnC
                </td>
                <td>
                    @item.DapAnD
                </td>
                <td>
                    @item.DoKho
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.CauHoiId" class="action-icon"> <i class="mdi mdi-eye" style="color:#19b6ff;font-size:25px;"></i>  </a>
                    <a asp-action="Edit" asp-route-id="@item.CauHoiId" class="action-icon"> <i class="mdi mdi-square-edit-outline" style="color:#ffd83b;font-size:25px;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CauHoiId" class="action-icon"> <i class="mdi mdi-delete" style="color:#e75555;font-size:25px;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Pagination with icons -->
<div class="row">

    <div class="row ">

        <ul class="pagination justify-content-end ">
            @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}), new PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[]{ "page-link"},
            LiElementClasses=new[] { "page-item" },
            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
            LinkToNextPageFormat = "Sau",
            LinkToPreviousPageFormat = "Trước",
            MaximumPageNumbersToDisplay = 3,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always
            })
        </ul>

    </div>

</div>